* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  display: flex;
  gap: 232.5px;
  padding: 21.84px;
  margin: 0 165px;
}
.list ul {
  display: flex;
  gap: 60px;
  list-style-type: none;
}
.icons ul {
  display: flex;
  list-style-type: none;
  gap: 24px;
}
.collection {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  gap: 30px;
  padding-top: 40px;
  padding-bottom: 40px;
  margin: 0 165px;
}
.items {
  width: calc((100%-90px) / 4);
}
img {
  width: 100%;
}
h2 {
  margin-top: 23px;
}
